@using Microsoft.AspNetCore.Html
@using MuscleFellow.Web.Models.Home

<div class="loading-block-window" style="display: none">
</div>
<div id="bar-notifications-success" title="通知" style="display:none;">
</div>
<div id="bar-notifications-error" title="错误" style="display:none;">
</div>
<div id="bar-notification" class="bar-notification">
    <span class="close" title="关闭">&nbsp;</span>
</div>