<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">用户登录</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">用户名</span>
                    <input type="text" ng-model="loginData.userID">
                </label>
                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password" ng-model="loginData.password">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">登录</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
