@{
    ViewData["Title"] = "关于";
}
<h2>Muscle Fellow Solution</h2>
<h3>简介</h3>

<p>Muscle Fellow - 肌肉伙伴网站。这是一个用来演示使用微软开源和跨平台技术搭建应用的Demo</p>
<h4>涉及到的技术主要有：</h4>
<ul>
    <li>Azure 部署</li>
    <li>ASP.NET Core</li>
    <li>ASP.NET Web API</li>
    <li>Entity Framework 7</li>
    <li>Apache Cordova 开发</li>
    <li>Xamarin.Forms 开发</li>
 </ul>
<br/>
<p>
    这个项目的创建主要是为了配合《微软开源跨平台移动开发实践》这本书。示例中所有产品图片均来自互联网。
</p>
<p>
    <ul>
        <h4>作者介绍</h4>
        <li>作者：李争</li>
        <li>电话：1-8-6-0-1-1-3-4-4-9-6</li>
        <li>电子邮件：<a target="_blank" href="mailto:li.zheng@microsoft.com">li.zheng#microsoft.com</a></li>
    </ul>
</p>
